/**
 * Created by Lorenzo on 2016/2/18.
 */
@charset "utf-8";
/* pinwheel_wrap */
.pinwheel_wrap{position:absolute;z-index:9999;border-radius:3px;-moz-border-radius:3px;}
.pinwheel_wrap .pinwheel_layer{position:static;-moz-box-shadow:0 0 10px #888888; box-shadow:0 0 10px #888888;}
.pinwheel_wrap .pinwheel_layer .bg{border-radius:3px;-moz-border-radius:3px;}
.pinwheel_wrap .pinwheel_content{background-color:#fff;}
.pinwheel_wrap .pinwheel_default_html{background-color:#fff;width:150px;height:100px;}
.pinwheel_wrap .arrow{display:block;overflow:hidden;position:absolute;}
.pinwheel_wrap .arrow_t, .pinwheel_wrap  .arrow_b {background-position:0 0;height:9px;left:20px;top:-5px;width:14px;}
.pinwheel_wrap .arrow_r, .pinwheel_wrap .arrow_l {background-position:-8px -24px;height:14px;right:-5px;top:20px;width:9px;}

.pinwheel_wrap .arrow_b {width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #fdfdfe;background-position:0 -8px;bottom:-5px;top:auto;}
.pinwheel_wrap .arrow_l {width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #fdfdfe;background-position:0 -24px;left:-5px;right:auto;}
.pinwheel_wrap .arrow_r {width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #fdfdfe;background-position:0 -24px;left:-5px;right:auto;}
.pinwheel_wrap .arrow_t {width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #fdfdfe;background-position:0 -24px;right:auto;}
.pinwheel_wrap .pinwheel_loading{padding:10px 20px;font-size:12px;color:#666;}
.pinwheel_wrap .pinwheel_loading div{text-align:center;text-indent:20px;width:120px;height:20px;line-height:20px;}
